*{
  box-sizing: border-box;
  margin: 2px;
  }
    
/* NAVIGATION BAR */ 

/* highlight on link */

  nav{
      display: flex; 
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      font-family: 'Source Sans Pro', sans-serif;
  }
  
  .logo{
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 22px;
  }
  
  .nav-links{
      display: flex;
      justify-content: space-around;
      width: 80%;
  }
  
  .nav-links li{
      list-style: none;
  }
  
  .nav-links a{
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 14px;
  }
  
  /* .nav-links a:hover{
  } */
  
  .burger{
      display: none;
      cursor: pointer; 
  }
  
  .burger div{
      width: 40px;
      height: 3px;
      background-color: black;
      margin: 5px;
  }
  
  @media screen and (max-width: 1608px){
      body{
          overflow-x: hidden;
      }
      .nav-links{
          position: absolute;
          right: 0px;
          height: 92vh;
          top: 8vh;
          display: flex;
          flex-direction: column;
          align-items: center;         
          line-height: 3px;
          width: 100%;
          transform: translateX(100%);
          transition: transform 0.5s ease-in;
          background-color: white;
      }
      .nav-links li{
          opacity: 1;
      }
      .burger{
          display: block;
      }
  }
  
  .nav-active{
      transform: translateX(0%);
  }
  
  @keyframes navLinkFade{
      from{
          opacity: 0;
          transform: translateX(50px);
      }
      to{
          opacity: 1;
          transform: translateX(0px);
      }
  }
  .toggle .line1{
      transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
      opacity: 0;
  }
  .toggle .line3{
      transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* SECONDARY NAVIGATION BAR */
  .nav-links1{
    display: flex;
      justify-content: space-around;
      width: 80%; 
      text-align: center;
      list-style-type: none;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 2px;
      
    opacity: 0.80;    
  }
  
  .container1{
    display: flex;
    justify-content: center;
    background-color: #EAE7DC;
    padding: .2%;
  }
  
  
  /*UNVISITED LINK */
  a:link{
      color: black;
      background-color: transparent;
      text-decoration: double;    
  }
  
  a:visited{
      color: black;
      background-color: transparent;
      text-decoration: double;
  }

  a:hover {
    color: royalblue;
    
  }
  
  a:active {
    text-decoration: none;
  }