*{
box-sizing: border-box;
margin: 2px;
}

/* BACKGROUND IMAGE */
.banner{
    background-image: url(photos/banner-image2.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height: auto;
} 

/* NAVIGATION BAR */ 
nav{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

/* .nav-links a:hover{
} */

.burger{
    display: none;
    cursor: pointer; 
}

.burger div{
    width: 40px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

@media screen and (max-width: 1608px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;         
        line-height: 3px;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: white;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* SECONDARY NAVIGATION BAR */
.nav-links1{
	display: flex;
    justify-content: space-around;
    width: 80%; 
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    
	opacity: 0.80;    
}

.container1{
	display: flex;
	justify-content: center;
	background-color: #EAE7DC;
	padding: .2%;
}


/*UNVISITED LINK */
a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;    
}

a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

/* CONTACT FORM */

.contact-form{
	font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;  
    text-align: left;    
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    background-color: transparent;

}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=submit] {
  background-color: powderblue;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 40%; 
}

input[type=submit]:hover {
  background-color:gainsboro;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  /* background-color: #ddd; */
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* HOME PAGE */

body
{
	margin: 0px;
	padding: 0px;
	background:white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
    color: #454445;
    font-family: 'Source Sans Pro', sans-serif;

}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

a
{
	color: #2C383B;
}

a:hover
{
	text-decoration: none;
}

.container
{
	margin: 5px auto;
	width: 80%;
}

/* IMAGE STYLE */ 

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-center {
    display: block;
    text-align: center;
  }


/* LIST STYLE */                                                              

ul.style1
{
	margin: 0;
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	list-style: none;
	color: black;
}

ul.style2
{
	margin: 0;
	padding: 0em 0em 0em 0em;
	overflow: hidden;
	list-style: none;
	color: black;
}

ul.style1 li
{
	overflow: hidden;
	display: block;
	padding: 2.80em 0em;
	border-top: 1px solid #D1CFCE;
}

ul.style1 li:first-child
{
	padding-top: 0;
	border-top: none;
}

ul.style3 li:first-child
{
	padding-top: 0;
	border-top: none;
}

ul.style1 .image-left
{
	margin-bottom: 0;
}

ul.style1 h3
{
	padding: 1.2em 0em 1em 0em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
	color: #454445;
}

ul.style1 a
{
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover
{
	text-decoration: underline;
	color: #525252;
}

ul.style2
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style2 li
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0 0.80em 0;
    font-family: 'Source Sans Pro', sans-serif;
}

ul.style2 li:before
{
	display: inline-block;
	padding: 4px;
	background: #DB3256;
}

ul.style2 a
{
	display: inline-block;
	margin-left: 1em;
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.style2 .icon
{
	color: #FFF;
}

/* TITLE */ 

.title
{
	margin-bottom: 3em;
}

.title h2
{
    letter-spacing: 3px;
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;

}

/* PAGE */ 
#wrapper
{
	background: #FFF;
}

#page
{
	overflow: hidden;
	padding: 6em 0em 6em 0em;
	background: #FFF;
}

/* CONTENT */ 

#content1 /* move content left and right */
    {
		float: left;
		width: 55%;
	}

/* SIDEBAR */

	#sidebar
	{
		float: right;
		width: 40%;
    }

	#stwo-col
	{
		margin-top: 2em;
	}

	#stwo-col h2
	{
		display: block;
		padding-bottom: 1.5em;
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 600;
		color: #454445;
	}

	#stwo-col .sbox1
	{
		float: left;
        width: 100%;
        padding-bottom: 30px;
	}

	#stwo-col .sbox2
	{
		float: right;
		width: 100%;
	}

/* COPYWRITE */

#copyright
{
	overflow: hidden;
	padding: 6em 0em 10em 0em;
	border-top: 1px solid black;
}

#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: black;
}

#copyright a
{
	text-decoration: none;
	color: black;
}

/* CONTACT - PROFILES */ 

.team1{
    display: flex;
    text-align: left;
    width: auto; 
}

.team1 .team_member1{
    margin: 15px;
    margin-bottom: 10px;
}

.team2{
    display: flex;
    text-align: left;
    width: auto; 
}

.team2 .team_member2{
    margin: 15px;
    margin-bottom: 10px;
}

.image-contact{
    max-width:30%;
    max-height:30%;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

/* LANDING PAGE */ 

.image-contact1{
    max-width:25%;
    max-height:25%;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}




    